:root{
    --green-color: #00642d;
    --white-color: #fff;
    --primary-green-color: #00522c;
}

.navBar{
    /* background: transparent; */
    background: linear-gradient(90deg, #2c3128c7 0%, 50%, #2c3128c7 80%);
    opacity: 1;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.navBar .menu{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.navBar .menu .image-logo{
    position: relative;
    overflow: visible !important;
}
.navBar .menu .image-logo a {
    border: none;
}

.navBar .menu .image-logo .tooltipText{
    visibility: hidden;
    width: auto;
    height: auto;
    background: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 20px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50px);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 1s;
}
.navBar .menu .image-logo:hover .tooltipText{
    visibility: visible;
    opacity: 1;
}

.navBar .menu .image-logo, 
.navBar .menu .logo-cam{
    width: auto;
    height: 100%;
    overflow: hidden;
}
.navBar .menu .blocks-logo{
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    flex-direction: row;
}

@media (max-width: 600px){
    .navBar .menu .blocks-logo{
        height: 2rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navBar .menu .sub-links .hamburger{
        margin-top: 0px !important;
        padding: 0 5px !important;
    }
    .navBar .menu .sub-links .hamburger .bar{
        width: 25px !important;
        border: 1px solid #000;
        margin: 6px !important;
    }
    .navBar .menu .sub-links .hamburger .bar:nth-child(3){
        width: 15px !important;
    }
}

.navBar .menu .image-logo img,
.navBar .menu .logo-cam img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.navBar .menu .links .link{
    display: inline-block;
    text-decoration: none;
    border: none !important;
    padding: 5px 15px;
    cursor: pointer !important;
    font-size: 18px;
    color: white !important;
}
.navBar .menu .links{
    display: block;
    height: 100%;
    padding-top: 10px;
}

.navBar .menu .links > .active,
.navBar .menu .sub-links > .active{
    border-radius: 5px;
    background: #000;
    font-weight: bold;
    color: #fff !important;
}
.navBar .menu .links .link:hover, .navBar .menu .link:focus{
    color: #fff;
    background: #00642d;
    border-radius: 5px;
}

.navBar .menu .sub-links .hamburger{
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    
}
.navBar .menu .sub-links{
    position: relative;
    display: none;
}
.navBar .menu .sub-links .menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90%;
    right: 0%;
    z-index: 1;
    min-width: 190px;
    height: auto;
    overflow: hidden;
    background: linear-gradient(90deg, #2c3128c7 0%, #525f74 50%, #2c3128c7 80%);
    border-radius: 5px;
    padding: 10px 0;
}
.navBar .menu .sub-links .menu .link{
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 0;
    border-radius: 0;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    border: none !important;
    text-align: center;
    cursor: pointer;
    color:  var(--white-color) !important;
}
.navBar .menu .sub-links .menu .link:hover,
.navBar .menu .sub-links .menu .link:focus{
    background: var(--white-color);
    color: black !important;
    font-weight: bold;
}

.navBar .menu .sub-links .hamburger .bar{
    width: 30px;
    background: var(--white-color);
    border: 2.5px solid var(--white-color);
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
}

.navBar .menu .sub-links .hamburger .bar:nth-child(3){
    width: 20px;
}
.navBar .menu .sub-links:hover .menu{
    display: block;
}

@media (max-width: 736px){
    .navBar .menu .links{
        display: none;
    }
    .navBar .menu .sub-links{
        display: block;
    }
}

