
.icon{
    width: 6rem;
    height: 6rem;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 100%;
} 

.icon img{
    width: 100%;
    height: 100%;
}

.animation{
    animation: animmodule 1s ease;
    transition: all 2s ease;
}

@keyframes animmodule {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


.fas-fa-arrow-top{
    border: none;
    background: gray;
    border-radius: 100%;
}

.fas-fa-arrow-top .fa-arrow-up{
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    padding: 1.5rem;
}

.fas-fa-arrow-top:hover{
    background: white;
}

.fas-fa-arrow-top:hover .fa-arrow-up{
    cursor: pointer;
    font-size: 28px;
    color: black;
    font-weight: 900;
    transition: all .3s linear;
}