

:root{
    --green-color: #00642d;
    --white-color: #fff;
    --primary-green-color: #00522c;
}
.page4 .navBar{
    margin-top: 0px;
    margin-bottom: 80px;
}


.page4 .modules {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 830px){
    .page4 .module{
        width: 100% !important;
    }
}

.page4 .module{
    width: 20rem;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.page4 .module .block1{
    min-width: 120px;
    max-width: 120px;
    background: var(--primary-green-color);
    padding: 8px 0 0 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.page4 .module .block2 {
    margin-left: 10px;
    padding: 10px;
    width: 80% !important;
    text-align: center;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.page4 .module .block2 p{
    font-size: 12px;
    font-weight: bold;
}

.page4 .module .block1 .titre{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: var(--white-color);
}

.page4 .module .block1 .icon{
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.page4 .module .block1 .icon img{
    width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
