.block-logo{
    height: 15rem;
    margin-bottom: -40px !important;
    margin-top: 140px !important;
}
.page2 .navBar{
    margin-top: 0px;
    margin-bottom: 80px;
}



.block-logo .logo{
    margin-top: -10rem !important;
    height: 100%;
}


.block-logo .logo img{
    width: 100%;
    height: 100%;
}


.page2 .criteres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 933px){
    .page2 .criteres{
        display: block;
        
    }
    .page2 .criteres > div{
        width: 100% !important;
        height: auto;
    }
}


.page2 .criteres > div{
    width: 45%;
    height: 20rem;
}

.page2 .criteres > div:first-child{
    padding-top: 30px;
    width: 45%;
    height: 18rem;
}

.page2 .criteres .image
{
    width: 45%;
}
.page2 .criteres .image > img {
    width: 100%;
    height: 100%;
}
