
.services {
    position: relative;
    margin: auto;
    padding: 50px;
    background-color: #cecece;
    max-width: 100vw;
    overflow: hidden;
}
.services .service{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cecece;
    margin-bottom: 20px;
}


 @media (max-width: 828px){
    .services .service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
    }


    .ordered_list{
        display: flex;
        flex-wrap: wrap;
    }
 }

 @media (max-width: 570px){
    .ordered_list{
        display: flex;
        flex-wrap: wrap;
    }
    .service.w-75{
        width: 100% !important;
    }
 }

.ordered_list{
    list-style-type: none;
 }

.ordered_list li::before{
    content: "►";
    display: block;
    float: left;
    width: 1.2em;
    color: var(--green-color);
}


.separation{
    width: 20%;
    margin: -20px auto 20px auto;
    margin-top: -20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 72, 0, 0.767);
}

 /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
      left: 0%;
      background: var(--green-color);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    background: var(--green-color);
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: var(--green-color);
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
        opacity: .2;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
  }
  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

  @-webkit-keyframes animLeft {
    from {
        opacity: .2;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
  }
  
  @keyframes animLeft {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
  }

  @-webkit-keyframes animRight {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
  }
  
  @keyframes animRight {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
  }

  .animLeft{
      animation: animLeft .5s linear;
      transition: all .5s linear;
  }
  .animRight{
    animation: animRight .5s linear;
    transition: all .5s linear;
}

.liste_actu{
    padding-bottom: 50px;
}
.Button{
    text-align: center;
}