.App {
  padding-top: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.568);
 
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.logo{
  height: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
}

.logo img {
  height: 100%;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  height: 20vh;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


:root{
  --green-color: #00642d;
}
.App-link {
  border-bottom: 8px solid var(--green-color);
}
.App-link a{
  color: var(--green-color);
  text-decoration: none;
  cursor: pointer;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
